
                <div class="widget container hide-if-mobile">
                  <h4>About.Me</h4>
                  <div class="decoration"></div>
                    <div class="container no-bottom">
                       <p class="thumb-left no-bottom">
                        <img src="/{{ DEFAULT_USER_LOGO }}" alt="img" style="margin-top: 0px;">
                        <strong style="padding-top: 0px;">{{ AUTHOR }}</strong><br>
                        <em>{{ ABOUT_ME_SUMMARY }}</em><br>
                        <em class="contact-text" style="float: left;margin-right: 20px;"><i class="fa fa-qq"></i>QQ: {{ AUTHOR_QQ }}</em>
                        <em class="contact-mail" style="float: left;"><i class="fa fa-envelope"></i>Email: {{ AUTHOR_EMAIL }}</em>
                      </p>
                    </div>
                </div>
