{% extends "base.html" %}
{% block title %}博客归档{% endblock %}
{% block content %}
      <div class="header-clear"></div>
        <div class="content">
          <div class="blog-posts">
            <div class="container no-bottom">
              <!-- 获取所有的年份 -->
              {% set date_list = [] %}
              {% for value in dates %}
                {% if value.date|strftime('%Y') not in date_list %}
                    <div style="display:none;">{{ date_list.append(value.date|strftime('%Y')) }}</div>
                {% endif %}
              {% endfor %}
                {% for year in date_list %}
                <h3><a href="/archive/{{ year }}/index.html" style="color:#666;">{{ year }}</a></h3>
                  {% for article in dates %}
                    {% if year == article.date|strftime('%Y') %}
                    <div class="blog-post timeline">
                      <p class="blog-post-date" style="width: 100%;">
                        <a href="/archive/{{ year }}/{{ article.date|strftime('%m') }}/index.html" title="{{ article.title }}" style="color:#666;">{{ article.date|strftime('%m月%d日') }}</a>
                        <a href="/{{ article.url }}" style="margin-left: 20px;color:#666;">{{ article.title }}</a>
                      </p>
                    </div>
                    {% endif %}				
                  {% endfor %}
                {% endfor %}
            </div>
          </div>
          {% include 'partial/sidebar.html' %}
        </div>
      <div class="decoration"></div>
      {% include 'partial/footer.html' %}
{% endblock %}
