    
      <div class="footer">
        {% set years = dates|groupby('date.year')|sort(reverse=False) %}
        {% set sinceYear = years|first|first|default('2014') %}
        {% set toYear = years|last|first|default('2014') %}
        <p class="center-text">Copyright <i class="fa fa-copyright"></i>
        {% if sinceYear == toYear %} {{ sinceYear }}
          {% else %}
          {{ sinceYear }} - {{ toYear }}
        {% endif%}
        <a href="{{ SITEURL }}" style="color:inherit">{{ SITENAME }}</a>. All rights reserved.</p>
        <div class="footer-socials half-bottom">
            <a href="https://github.com/bbaobelief" class="footer-facebook" target="_blank"><i class="fa fa-github"></i></a>
            <a href="{{ SITEURL }}/feed.xml" class="footer-twitter" target="_blank"><i class="fa fa-rss"></i></a>
            <a href="#" class="footer-transparent"></a>
            <a href="{{ SITEURL }}/sitemap.xml" class="footer-share" target="_blank"><i class="fa fa-sitemap"></i></a>
            <a href="#" class="footer-up"><i class="fa fa-angle-up"></i></a>
        </div>
      </div>