{% extends "base.html" %}
{% block title %} Seach {{ super() }}{% endblock title %}
{% block extra_js %}
    <script type="text/javascript" src="/theme/js/jquery.js"></script> 
    <script src="/theme/tipuesearch/tipuesearch_content.js"></script>
    <script src="/theme/tipuesearch/tipuesearch_set.js"></script>
    <script src="/theme/tipuesearch/tipuesearch.min.js"></script>
        
    <script>
     $(document).ready(function() {
       $('#tipue_search_input').tipuesearch({
           'mode' : 'json',
           'show': 6,
           'newWindow': false,
           'contentLocation': '/tipuesearch_content.json'
       });
     });
    </script>
{% endblock %}

{% block content %} 
      <div class="header-clear"></div>
      <div class="content">
        <div class="blog-posts" id="tipue_search_content"></div>
        {% include 'partial/sidebar.html' %}
      </div>
      <div class="decoration"></div>
      {% include 'partial/footer.html' %} 
{% endblock content %}